/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.homepage-background-container {
    background-image: url('./homepage_bg.jpg'); 
    background-size: cover; /* Ensure the image covers the entire section */
    background-position: center; /* Center the image */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .homepage-background-section {
    height: 100%; /* Take full height of the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Russo One", sans-serif;
    text-align: center;
  }
  
  .homepage-background-section h1, .homepage-background-section h2 {
    color: black; /* Text color */
    font-family: "Russo One", sans-serif;
    text-shadow: 2px 2px 4px rgb(255, 155, 155); /* Optional: Add text shadow for better visibility */
  }
  
.wanted-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.507);
}
.wanted-container:before {
  content: "";
  position: absolute;
  left: -150%;
  top: 0;
  width: 300%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.498);
  transform: rotate(45deg);
  z-index: -1;
}
